*{
    margin: 0;
    padding: 0;
    
}
.usuario{
    display: flex;
    flex-direction: row;
}

.informacion_usuario{
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.contenedor_usuario{
    border: 1px solid grey;
    display: flex;
    flex-direction: column ;
    width: 100%;
}

.foto{
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 1000px;
}

.texto{
    align-items: right;
}

.correo_usuario{
    font-size: 20px;
}

.nombre_usuario{
    font-size: 20px;
    font-weight: bold;
}

a{
   text-decoration: none; 
}