<div class="padre">
  <div class="borde_libretas">
  <div class="titulo">libretas</div>


  <div class="libretas">

   
    <div *ngFor="let item of nota" class="ngPAPI">
  
      <div class="nota">
        <div class="Titulo">{{item.titulo}}</div>
        <div class="fecha">{{item.fecha}}</div>

      <div class="opciones_libretas">
        <div class="borrar_nota"><button>Borrar</button></div>
        <div class="borrar_nota" ><button (click)="emit()">Editar</button></div>
      </div>
      </div>
    </div>

<div class="opciones_notas">
  <div> Notas:</div>
  <div class="crear"><button (click)="add()"> crear</button></div>
</div>
<hr>
<div class="creacion_libretas">
  
<div class="nombre_libreta">Nombre libreta</div>
  <form #formulario="ngForm" (ngSubmit)="add(formulario)">
  <input type="text" name="nombreLibreta" placeholder="nombre de la libreta" ngModel>
  <button>Crear</button>
  </form>
</div>
<!--

<div class="texto_libretas">¿Una nueva libreta?</div>
<input type="text" placeholder="Nueva libreta..." [(ngModel)]="nombreNuevaLibreta">
<div class="opciones_libretas">
  
    <div class="borrar"><button>borrar</button></div>
    <div class="crear"><button (click)="addLibreta()"> crear</button></div>
</div>
*/
-->   </div>  

  
</div>
</div>
