*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.padre{
    width: 100%;
    height: 100%;
}

.borde_libretas{
    border: 1px solid gray;
    padding: 10px;
}

.libretas{
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.opciones{
    display: flex;
    flex-direction: column;
}

.opciones_libretas{
    border-top: 1px solid grey;
    display: inline-block;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.titulo{
    font-size: 35px;
}

button{
    width: 100px;
    height: 20px;
    margin: 5px;
}

.nota{
    width: 100%;
}

.Titulo{
    font-size: 25px;
}

.ngPAPI{
    width: 100%;
    margin: 10px;
}

.fecha{
    display: flex;
    justify-content: flex-end;
}

.borrar_nota{
    display: flex;
    justify-content: flex-end;
}

.crear{
    width: 100%;
}

.opciones_notas{
    display: flex;
    flex-direction: row;
}