<div class="padre">
        
          <div class="contenedor_borde_nota">
            <div class="nota"><div class="texto"><input id="tituloNota" name="cuerpoNota" type="text" placeholder="Titulo nota" [(ngModel)]="cuerpoNota" (keyup)="emit()"></div>
           <hr>
                <div><input id="cuerpoNota" name="tituloNota" type="text" placeholder="Digite aqui.." [(ngModel)]="tituloNota" (keyup)="emit()"></div>
                
                 </div>
            </div>
            <br>
        
        </div>