.contenedor_borde_nota{
    border: 1px solid gray;
    width: 90%;
}

.padre{
    width: 100%;
    height: 100%;
   
}

.texto{
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    
}

.nota{
    margin: 10px;
}

#tituloNota{
    width: 95%;
    height: 35px;
    font-size: 25px;
    padding: 5px;
    border: 0px;
}

#cuerpoNota{
    width: 90%;
    height: 300px;;
    font-size: 15px;
    padding: 5px;
    border: 0px;
    text-align: justify;
}






