<div class="padre">
          
<div class="contenedor_borde">
        <form #formulario="ngForm" (ngSubmit)="addPost(formulario)">   
        <div class="input_Registro">
    
            <div class="texto_registro">Registro</div>
            
            <label>
                    <input type="text" name="username" class="login" placeholder="Username" ngModel required>
                </label>
        
                <label><input type="password" name="password" class="login" placeholder="Password" ngModel required></label>
        
                <label>
                    <input type="email"  name="correo" class="login" placeholder="Email" ngModel required>
                </label>
    
        </div>
        <div class="parte_foto">
    
            <div class="foto"></div>
            <div class="Subir_Archivo" > <input type="file" class="button" name="foto" ngModel></div>
    
        </div>
    
        <div class="input_Registro">
            <input type="submit"  value="Submit Form" >
            <div class="texto" style="margin-left: 40%; margin-top:5px;"><a href="">Cancelar</a></div>
        </div>
    
        </form>
    
    </div>
</div>