*{
    padding: 0px;
    margin: 0px;
}

.logo{
    justify-content: center
}
.content_login{
    width: inherit;
    padding: 0px;
    margin: 0px;
}
.el_padre{
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.contenedor_borde{
    border: 1px solid grey;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
    width: 400px;
}

.login{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
}

.registro_login{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 15px;
    justify-content: center
}

.texto{
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    
}


a{
    margin-left: 5px;
    color: #72a8ff;
    text-decoration: none;
}

input{
    height: 30px;
}

.input_Registro{

    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%
}

.parte_foto{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.foto{
    width: 70%;
    height: 40px;
    border: 1px solid grey;
}

.Subir_Archivo{
    font-size: 15px;
    width: 120px;;
    margin-left: 4px;
    padding: 0pX;
}
.texto_registro{
    font-size: 35px;
    margin-left:33%; 
    margin-bottom: 50px;
}

.contenedor_borde_nota{
    margin: 5px;
    border: 1px solid gray;
    width: 70%;
}


.contenedor_usuario{
    border: 1px solid grey;
    display: flex;
    flex-direction: column ;
    width: 30%;
}
.usuario{
    display: flex;
    flex-direction: row;
}

.informacion_usuario{
    display: flex;
    flex-direction: column;
}

.button{
    font-size: 22px;
    color: white;
    background-color: #72a8ff;
    border: 0px;
    height: 40px;
    width: inherit;
}

.padre{
    margin-top: 20px;
    margin-left: 15%;
}