*{
    padding: 0px;
    margin: 0px;
    align-items: center;
    align-content: center;
}

.padre{
    width: 90%;
    height: 90%;
}

.contenedora{
    width: 70%;
}

.logo{
    width: 50%;
}

p{
  margin: 50px; 
    font-size: 30px;
    display: inline;
}

