<div class="padre">
    <div class="distribucion">
  
    <div class="izquierda" style="width: 30%">
      <div><app-usuario></app-usuario></div>
      <div><app-libretas></app-libretas></div>
      <!--<div><app-libretas [tituloNota]="temporal" (emisor)="interceptar($event)"></app-libretas></div>-->
    </div>
    <div class="derecha" style="width: 70%">
      <app-nota  ></app-nota>
      <!--<app-nota (emisor)="interceptar($event)" ></app-nota>-->
    </div>
  
    </div>
  
  </div>
  