*{
    margin: 0px;
    padding: 0px;
}

.padre{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.distribucion{
    display: flex;
    flex-direction: row;
}

.izquierda{
    display: flex;
    flex-direction: column;
}
