*{
    padding: 0px;
    margin: 0px;
}

.logo{
    justify-content: center
}
.content_login{
    width: inherit;
    padding: 0px;
    margin: 0px;
}
.el_padre{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 35%;
    align-items:center;
}

.contenedor_borde{
    border: 1px solid grey;
    padding: 25px;
    width: 400px;
}

.login{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 4px;
}

.registro_login{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 15px;
    justify-content: center
}

.texto{
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    
}

button{
    font-size: 22px;
    color: white;
    background-color: #72a8ff;
    border: 0px;
    height: 40px;
    width: inherit;
}

a{
    margin-left: 5px;
    color: #72a8ff;
    text-decoration: none;
}

input{
    height: 30px;
}